{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", { "trailingComma": "es5" }],
    "comma-dangle": ["error", "always-multiline"],
  },
}
